<section class="contact"> 
<div class="container">
  <h2>CONTACT SECTION</h2>
  <div class="star-porto mb-3 d-flex justify-content-center  position-relative" >
    <i class="fa-solid fa-star position-relative"></i>
    <div class="line-porto"></div>
  </div>
    <div class="row">
        <div class="col-md-12">
<div class="inputs d-flex flex-column ">
    <div class="">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="email" class="form-control  w-50 position-relative " id="exampleFormControlInput1" placeholder="userName">
      </div>
      <div class="">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="email" class="form-control  w-50 position-relative" id="exampleFormControlInput1" placeholder="userAge">
      </div>
      <div class="">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="email" class="form-control  w-50 position-relative" id="exampleFormControlInput1" placeholder="userEmail">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="email" class="form-control w-50 position-relative" id="exampleFormControlInput1" placeholder="userPassword">
      </div>

      <button class="btn mt-2 mb-4 align-self-start">send Message</button>
      
</div>
        </div>
    </div>
</div>
</section>
