<section class="porto mt-5">
  <div class="container py-5 mt-3 text-center">
    <h2>PORTOFOLIO COMPONENT</h2>
    <div class="star-porto mb-3 d-flex justify-content-center  position-relative" >
      <i class="fa-solid fa-star position-relative"></i>
      <div class="line-porto"></div>
    </div>

    <div class="row gy-4">
      <div class="col-md-4">
        <div class="card position-relative " >
          <img src="poert1.png"  alt="" />
          <div class="layout">
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
     
          <div class="card  position-relative" >
            <img src="port2.png" alt="" />
               <div class="layout">
                <i class="fa-solid fa-plus"></i>
          </div>
        </div>

      </div>
      <div class="col-md-4">
      
          <div class="card  position-relative" >
              <img src="port3.png" alt="" />
              <div class="layout">
                <i class="fa-solid fa-plus"></i>
          </div>
        </div>
      </div>

      <div class="col-md-4">
       
          <div class="card  position-relative" >
             <img src="poert1.png" alt="" />
             <div class="layout">
                <i class="fa-solid fa-plus"></i>
          </div>
        </div>
      </div>

      <div class="col-md-4">
      
          <div class="card  position-relative" >
  <img src="port2.png" alt="" />
              <div class="layout ">
                <i class="fa-solid fa-plus"></i>
          </div>
        </div>
      </div>

      <div class="col-md-4">
     
          <div class="card  position-relative" >
<img src="port3.png" alt="" />
               <div class="layout">
                <i class="fa-solid fa-plus"></i>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>


<section class="hide-layer ">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hide-photo d-flex justify-content-center align-items-center mt-5">
          <img src="port2.png" alt="" class="w-50">
        </div>
      </div>
    </div>
  </div>
  </section>
  
