<section class="about py-5">
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="about-component  d-flex flex-column justify-content-center align-items-center py-5">
                 <h2 class="text-center">ABOUT COMPONENT</h2>
            <div class="star-about mb-4 d-flex flex-column align-items-center">
                <i class="fa-solid fa-star position-relative "></i>
                <div class="line-about"></div>
            </div>

            <div class="about-description text-white d-flex justify-content-evenly">
                <p class="px-4">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                <p class="px-4">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>

            </div>
           

        </div>
    </div>
</div>
</section>