<section class="home">
    
<div class="container mt-5 d-flex flex-column justify-content-center align-items-center">
    <div class="row ">
        <div class="col-md-12">
            <div class="main mt-5 d-flex flex-column justify-content-center align-items-center text-white ">
                <img src="avataaars.svg" class="w-75 mb-5" alt="the user photo">
                <h2 class="text-center">
                   START FRAMEWORK
                </h2>
                <div class="star text-center mb-3">
                    <i class="fa-solid fa-star position-relative"></i>
                    <div class="line"></div>
                </div>
                <p>Graphic Artist - Web Designer - Illustrator</p>
            </div>
        </div>
    </div>
</div>
</section>

